<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- style %>
</head>

<body>

    <div id="header-div">
        <%- include('_header'); -%>
    </div>
 <!-- locals have flash from res.locals.flash(middleware.js)-->
 <!-- flash.success.length is checking if it has the message like // logged out sucessfully // logged in // u have been logged out---->
    <% if(flash.success && flash.success.length > 0) {%>
             <h5>
                 <%= flash.success %>
             </h5>         

        <% } %>

    <main id="layout-main">
        <%- body -%>
    </main>

    <div id=footter>
    <%- include('_footer'); -%> </div>

        <%- script %>
</body>

</html>